
body{
    margin: 0;
    background: rgb(45,127,253);
    background: linear-gradient(0deg, rgba(45,127,253,0.36785136417848385) 35%, rgba(34,119,195,1) 78%);
}


header{
    padding-top: 4.8%;
}

header img{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

main{
    padding-top: 0.5%;
    display: grid;
    margin: 0 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: 1.2em;
}

img{
    max-width: 100%;
    max-height: 100%;
}

main img{
    width: 300px;
    height: 300px;
    border-radius: 30%;
}

.right{
    float: right;
    padding-left: 1%;
}

.right + p{
    float: clear;
}

.left{
    float: left;
    padding-right: 1%;
}

.left + p{
    float: clear;
}

main ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

main li{
    flex:1;
    padding-right: 1%;
}

section h1,h2{
    text-align: center;
}